body { /* 1536 x 792 (2.5) */
    background: #36393F;
    color: #FFFFFF;
    margin: 0;
}

/* HEADER BEGINS */
header img {
    position: absolute;
    max-width: 4%;
    height: auto;
    left: 10%;
    top: 2%;
}
div.name {
    position: absolute;
    left: 16%;
    top: 1.3%;
    display: inline;
    font-family: Kadwa, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 120%;
    font-size: 2em;
}
.name a {
    text-decoration: none;
    color:#FFFFFF;
}
.name span {
    position: absolute;
    font-family: Palanquin, sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 0.7em;
}
header ul {
    position: absolute;
    list-style-type: none;
    display: block;
    right: 6.75vw;
    top: 0.4vh;

    font-family: Palanquin, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6vw;
    align-items: right;
    text-align: right;
    float: right;
    clear: left;
}
header li {
    float: left;
}
header li a {
    display: block;
    padding: 0vh 0.75vw;
    margin: 0vh 1.95vw;
    text-decoration: none;
    color: #FFFFFF;
}
header li a:hover {
    background: #40775A;
    border-radius: 3%;
}
header li a:active {
    background: #E7774B;
    border-radius: 3%;
}
/* HEADER ENDS */

/* BODY CONTENT BEGINS */
    /* First hobby begins */
.first-hobby {
    position: absolute;
    width: 90%;
    height: 55%;
    top: 13%;
    padding: 0 5%;
    background: #E7774B;
}
.title1 {
    font-family: Tuffy, sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    align-items: left;
}
.fas, .fa-book {
    padding: 2%;
}
.des1 {
    position: absolute;
    width: 39%;
    left: 10%;
    font-family: Palanquin, sans-serif;
    font-weight: thin;
    font-size: 1.4em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    align-items: left;
}
.flags {
    position: absolute;
    display: inline;
    top: 15%;
    right: 9.5%;
    align-items: right;
    text-align: right;
}
img {
    max-width: 16.3%;
    height: auto;
}
    /* First hobby ends */
    /* Second hobby begins */
.second-hobby {
    position: absolute;
    width: 90%;
    height: 48%;
    top: 68%;
    padding: 3.5% 5%;
    background: rgba(244, 207, 62, 0.8);
}
.title2 {
    font-family: Tuffy, sans-serif;
    font-weight: bold;
    font-size: 3em;
    align-items: left;
}
.fas, .fa-video {
    padding: 2%;
}
.second-hobby img {
    position: absolute;
    display: block;
    left: 10%;
    top: 42%;
}
.des2 {
    position: absolute;
    width: 60%;
    right: 9%;
    margin: 2.5% 0;
    font-family: Palanquin, sans-serif;
    font-weight: thin;
    font-size: 1.6em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    align-items: right;
}
.des2 ul {
    list-style-type: none;
}
.des2 a {
    text-decoration: none;
    color: #FFFFFF;
}
    /* Second hobby ends */
    /* Third hobby begins */
.third-hobby {
    position: absolute;
    width: 90%;
    height: 50%;
    top: 129.4%;
    padding: 2.5% 5%;
    background: #E7774B;
}
.title3 {
    font-family: Tuffy, sans-serif;
    font-weight: bold;
    font-size: 2.8em;
    align-items: left;
}
.fas, .fa-headphones {
    padding: 2%;
}
.third-hobby img {
    position: absolute;
    display: block;
    right: 9.5%;
    top: 30%;
    align-items: right;
}
.des3 {
    position: absolute;
    width: 58%;
    left: 10%;
    margin: 1.5% 0;
    font-family: Palanquin, sans-serif;
    font-weight: thin;
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    align-items: left;
}
    /* Third hobby ends */
/* BODY CONTENT ENDS */

/* FOOTER BEGINS */
footer {
    position: absolute;
    width: 100%;
    height: 45%;
    left: 0px;
    top: 189%;

    background: #40775A;
}
ul.footer-nav {
    position: absolute;
    list-style-type: none;
    display: inline-block;
    font-family: Palanquin, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4em;
    align-items: center;
    text-align: center;
    left: 5.5%;
}
.footer-nav li a {
    display: block;
    width: 5em;
    padding: 0.55em 0.4em;
    text-decoration: none;
    color: #FFFFFF;
}
.footer-horizontal-line {
    position: absolute;
    width: 91%;
    height: 0.4vh;
    top: 65%;
    margin: 0 4.5%;
    z-index: 1;
    
    background-color: #F4CF3E;
}
.left-quote {
    position: absolute;
    width: 25%;
    left: 35%;
    top: 19.5%;
    font-family: Tinos, serif;
    font-style: italic;
    font-weight: thin;
    line-height: 1.5em;
    font-size: 1.4em;
    text-align: right;
}
.left-quote span {
    font-family: Tuffy, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 2em;
}
.right-quote {
    position: absolute;
    width: 25%;
    right: 10%;
    top: 25%;
    font-family: Tinos, serif;
    font-style: italic;
    font-weight: thin;
    line-height: 1.5em;
    font-size: 1.4em;
    text-align: right;
}
.right-quote span {
    font-family: Tuffy, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 2em;
}
.footer-name {
    position: absolute;
    display: inline-block;
    left: 7.8%;
    top: 79%;
    font-family: Palanquin, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}
address {
    position: absolute;
    display: inline-block;
    left: 33.3%;
    top: 70%;
    font-family: Palanquin, sans-serif;
    font-style: normal;
    font-weight: thin;
    line-height: 1.7em;
    font-size: 1.2em;
    text-align: right;
}
ul.social-media {
    position: absolute;
    list-style-type: none;
    right: 8.4%;
    top: 73%;
    align-items: right;
    float: right;
    clear: left;
}
.social-media li {
    float: left;
}
.social-media li a {
    display: inline-block;
    padding: 0 0.7em 0 0.7em;
    text-decoration: none;
    color: #FFFFFF;
}
.social-media img {
    max-width: 90%;
    height: auto;
}
/* FOOTER ENDS */