body { /* 1536 x 792 (2.5) */
    background: #36393F;
    color: #FFFFFF;
    margin: 0;
}

/* HEADER BEGINS */
header img {
    position: absolute;
    max-width: 4%;
    height: auto;
    left: 10%;
    top: 2%;
}
div.name {
    margin-left: 16%;
    display: inline;
    font-family: Kadwa, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
}

header ul {
    list-style-type: none;
    width: 35%;
    margin: 0 7% 0 auto;
    font-family: Palanquin, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    align-items: center;
    text-align: right;
    float: right;
    clear: left;
}
li {
    float: left;
}
li a {
    display: block;
    width: 5em;
    padding: 1.1em;
    text-decoration: none;
    color: #FFFFFF;
}
/* HEADER ENDS */

/* QUOTE BEGINS */
article {
    width: 87%;
    height: 70%;
    margin: 0.5% auto;
    padding: 2% 4%;
    overflow: hidden;

    background: url('../media/city.jpg'), #40775A; /* Source: https://www.pexels.com/vi-vn/anh/anh-sang-thanh-ph-binh-minh-hoang-hon-9661740/ */
    background-position: right;
    background-size: 70%;
    background-repeat: no-repeat;
    background-blend-mode: color-dodge, normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
}
.quote {
    position: relative;
    top: 40%;
    font-family: Tinos, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 2.3em;
    align-items: left;
}
.quote_author {
    position: relative;
    top: 45%;
    left: 20%;
    font-family: Tuffy;
    font-style: normal;
    font-weight: bold;
    font-size: 2.3em;
    align-items: left;
}
/* QUOTE ENDS */