body { /* 1536 x 792 (2.5) */
    background: #36393F;
    color: #FFFFFF;
    margin: 0;
}

/* HEADER BEGINS */
header img {
    position: absolute;
    max-width: 4%;
    height: auto;
    left: 10%;
    top: 2%;
}
div.name {
    margin-left: 16%;
    display: inline;
    font-family: Kadwa, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
}
header ul {
    list-style-type: none;
    width: 35%;
    margin: 0 7% 0 auto;
    font-family: Palanquin, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    align-items: center;
    text-align: right;
    float: right;
    clear: left;
}
header li {
    float: left;
}
header li a {
    display: block;
    width: 5em;
    padding: 1.1em;
    text-decoration: none;
    color: #FFFFFF;
}
/* HEADER ENDS */

/* QUOTE BEGINS */
article {
    width: 87%;
    height: 70%;
    margin: 0.5% auto;
    padding: 2% 4%;
    overflow: hidden;

    background: url('../media/city.jpg'), #40775A; /* Source: https://www.pexels.com/vi-vn/anh/anh-sang-thanh-ph-binh-minh-hoang-hon-9661740/ */
    background-position: right;
    background-size: 70%;
    background-repeat: no-repeat;
    background-blend-mode: color-dodge, normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
}
.quote {
    position: relative;
    top: 40%;
    font-family: Tinos, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 2.3em;
    align-items: left;
}
.quote_author {
    position: relative;
    top: 45%;
    left: 20%;
    font-family: Tuffy, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.3em;
    align-items: left;
}
/* QUOTE ENDS */

/* BODY CONTENT BEGINS */
.vertical-line {
    position: absolute;
    width: 100%;
    height: 4px;
    left: -37.5%;
    top: 133.7%;
    z-index: -1;
    
    background-color: #F4CF3E;
    transform: rotate(90deg);
}
.first-green-circle {
    position: absolute;
    width: 2em;
    height: 2em;
    left: 11.45%;
    top: 130%;
    border-radius: 50%;

    background: #40775A;
}
.first-orange-circle {
    position: absolute;
    width: 1.3em;
    height: 1.3em;
    left: 11.8%;
    top: 130.7%;
    border-radius: 50%;

    background: #E7774B;
}
.second-green-circle {
    position: absolute;
    width: 2em;
    height: 2em;
    left: 11.45%;
    top: 185%;
    border-radius: 50%;

    background: #40775A;
}
.second-orange-circle {
    position: absolute;
    width: 1.3em;
    height: 1.3em;
    left: 11.8%;
    top: 185.8%;
    border-radius: 50%;

    background: #E7774B;
}
.first-horizontal-line {
    position: absolute;
    width: 35%;
    height: 4px;
    left: 13.5%;
    top: 131.8%;
    z-index: -1;
    
    background-color: #F4CF3E;
}
.second-horizontal-line {
    position: absolute;
    width: 35%;
    height: 4px;
    left: 13.5%;
    top: 186.9%;
    z-index: -1;
    
    background-color: #F4CF3E;
}
.aboutme {
    position: absolute;
    width: 35%;
    height: 30%;
    left: 48.5%;
    top: 109%;
    padding: 4% 3.5%;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #E7774B;
    border-radius: 6px;
}
h1 {
    font-family: Tuffy, sans-serif;
    font-weight: bold;
    font-size: 2.3em;
    margin: 0% 0% 5% 0%;
    align-items: left;
}
p {
    font-family: Palanquin, sans-serif;
    font-weight: thin;
    font-size: 1.4em;
    line-height: 2.1em;
    align-items: left;
}
.hobbies {
    position: absolute;
    width: 35%;
    height: 30%;
    left: 48.5%;
    top: 165%;
    padding: 3.5% 3.5%;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #E7774B;
    border-radius: 6px;
}
.hobbies p {
    margin-bottom: 0;
}
.hobbies ul {
    margin-top: 1%;
    font-family: Palanquin, sans-serif;
    font-weight: thin;
    font-size: 1.4em;
    line-height: 2em;
    align-items: left;
}
/* BODY CONTENT ENDS */

/* FOOTER BEGINS */
footer {
    position: absolute;
    width: 100%;
    height: 45%;
    left: 0px;
    top: 229.9%;

    background: #40775A;
}
ul.footer-nav {
    position: absolute;
    list-style-type: none;
    display: inline-block;
    font-family: Palanquin, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4em;
    align-items: center;
    text-align: center;
    left: 5.5%;
}
.footer-nav li a {
    display: block;
    width: 5em;
    padding: 0.4em;
    text-decoration: none;
    color: #FFFFFF;
}
.footer-horizontal-line {
    position: absolute;
    width: 91%;
    height: 4px;
    top: 65%;
    margin: 0 4.5%;
    z-index: 1;
    
    background-color: #F4CF3E;
}
.left-quote {
    position: absolute;
    width: 25%;
    left: 35%;
    top: 19.5%;
    font-family: Tinos, serif;
    font-style: italic;
    font-weight: thin;
    line-height: 1.5em;
    font-size: 1.4em;
    text-align: right;
}
.left-quote span {
    font-family: Tuffy, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 2em;
}
.right-quote {
    position: absolute;
    width: 25%;
    right: 10%;
    top: 25%;
    font-family: Tinos, serif;
    font-style: italic;
    font-weight: thin;
    line-height: 1.5em;
    font-size: 1.4em;
    text-align: right;
}
.right-quote span {
    font-family: Tuffy, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 2em;
}
.footer-name {
    position: absolute;
    display: inline-block;
    left: 7.8%;
    top: 79%;
    font-family: Palanquin, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}
address {
    position: absolute;
    display: inline-block;
    left: 33.3%;
    top: 70%;
    font-family: Palanquin, sans-serif;
    font-style: normal;
    font-weight: thin;
    line-height: 1.7em;
    font-size: 1.2em;
    text-align: right;
}
ul.social-media {
    position: absolute;
    list-style-type: none;
    right: 8.4%;
    top: 73%;
    align-items: right;
    float: right;
    clear: left;
}
.social-media li {
    float: left;
}
.social-media li a {
    display: inline-block;
    padding: 0 0.7em 0 0.7em;
    text-decoration: none;
    color: #FFFFFF;
}
.social-media img {
    max-width: 90%;
    height: auto;
}
/* FOOTER ENDS */